body {
    padding-top: 60px;
}

#progress {
    width: 300px;
    margin: 0 auto;
}

#progress .bar {
    width: 100%;
}

#app-container {
    display: none;
    margin: 0;
}

#my-standup {
    clear: both;
    margin-bottom: 20px;
}

#messages {
    margin: 20px 0 0;
}

.message {
    padding: 15px;
    position: relative;
}

#messages .message {
    float: left;
    margin: 0 10px 10px;
    width: 415px;
}

.message .mugshot {
    position: absolute;
    right: 15px;
    top: 12px;
}

.message .name {
    background-color: rgb(44, 44, 44);
    background-image: -moz-linear-gradient(center top , rgb(51, 51, 51), rgb(34, 34, 34));
    background-repeat: repeat-x;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25), 0px -1px 0px rgba(0, 0, 0, 0.1) inset;
    color: #CCC;
    margin: -15px -15px 10px;
    padding: 15px 15px 20px;
}

#standup-body {
    height: 200px;
    width: 100%;
}

label {
    font-weight: bold;
}